.container-experi {
  margin: auto;
  margin-top: 100px;
  /* justify-content: center; */
  margin-bottom: 100px;
  width: 500px;
  /* background-color: #12192c; */
  /* width: 300px; */
}
.texto-experiencia {
  margin-top: 40px;
}

#container-experiencias {
  position: relative;
  margin-top: 150px;
  font-family: "Poppins", sans-serif;
}
.container-img-exp {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  transform: translate(-50%, -70%);
}
.user-name {
  text-transform: capitalize;
  font-weight: 600;
}
.text-experience {
  margin-top: 10px;
}

.container-card-experiencia {
  margin: auto;
  background-color: #12192c;
  width: 180px;
  height: 160px;
  border-radius: 5px;
  text-align: center;
  /* overflow: hidden; */
  margin-top: 85px;
  color: white;
  padding: 20px;
}
