#contacto {
  background-color: white;
  width: 250px;
  height: 350px;
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.send-contact {
  background-color: #f23292;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  color: #f0f4f5;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
}

textarea {
  background-color: #f0f4f5;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 7px;
  font-family: "Poppins", sans-serif;

  resize: none;
  border-radius: 8px;
}

input {
  background-color: #f0f4f5;
  border: none;
  padding: 7px;
  font-weight: 500;
  margin-bottom: 10px;
  border-radius: 8px;
}

input:focus {
  outline: none;
}
/* .text-input {
  height: 100px;
} */

.radio-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  font-size: 14px;
}
